.first{
    color: rgba(254, 185, 2, 1);
    font-family: 'Poppins', sans-serif;
}

.second{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}



.contact-bg{
    background-image: url('../../../assets/danjr_contact.png');
    background-repeat: no-repeat;
    background-position: 500px;
    margin-top: 60px;
    text-align: left;
    width: 100%;
}


.phone{
    margin-top: 20px;
}

.address{
    margin-top: 20px;
    width: 200px;
}


.seperate1{
    margin-top: 50px;
}


hr{
    border: 1px solid white;

}

.yellow{
    color: rgba(254, 185, 2, 1);
}

.white{
    color: white;
}

.content{
    font-family: 'League Spartan', sans-serif;
}

.number{
    margin-bottom: 30px;
}

.end{
    display: flex;
}

.icon{
    cursor: pointer;
    margin-left: 200px;
}

.icon2{
    cursor: pointer;
    margin-left: 10px;
}

.icon3{
    cursor: pointer;
    margin-left: 10px;
}

.icon4{
    cursor: pointer;
    margin-left: 10px;
}

ul{
    cursor: pointer;
    margin-left: 140px;
}
