.first{
    color: rgba(254, 185, 2, 1);
    font-family: 'Poppins', sans-serif;
}

.review-background{
    text-align: left;
    margin-top: 60px;
}

.review-container{
    margin-top: 40px;
    padding: 20px;
    width: 1200px;
    border: 1px solid rgb(255, 255, 255)
}